language: python
python:
  - "3.7.3"

stages:
  - name: test
  - name: deploy

jobs:
  include:
    - stage: test
      name: Unit Tests
      script: python manage.py test
    - stage: deploy
      name: Heroku Deploy
      script: /bin/true
      deploy:
        provider: heroku
        api_key:

        app: ecomm-acelera
        on: master
        run: "python manage.py migrate"
